@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background: #0a0f2c;
  color: white;
}

html.light {
  background: #fafafa;
  color: #111;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-fadeInSlow {
  animation: fadeIn 1.2s ease-out forwards;
}
